<!DOCTYPE html>
html( lang="en" )
  head
    meta( charset="UTF-8" )
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )

    //- link( rel="preload" href=require('@/assets/fonts/fira-code.woff2') as="font" type="font/woff2" crossorigin )
    //- link( rel="preload" href=require('@/assets/fonts/manrope.woff2') as="font" type="font/woff2" crossorigin )
    //- link( rel="preload" href=require('@/assets/fonts/manrope-bold.woff2') as="font" type="font/woff2" crossorigin )

    meta( name="theme-color" content=require('config').meta.themeColor )

    meta( property="og:url" content=require('config').meta.url )

    meta( name="twitter:image:src" content=require('config').meta.thumbnail )        
    meta( property="og:image" content=require('config').meta.thumbnail )
    meta( name="twitter:card" content="summary_large_image" )

    meta( property="og:type" content="object" )

    meta( property="og:description" name="description" content=require('config').meta.description )
    meta( name="twitter:description" content=require('config').meta.description )

    meta( name="twitter:site" content=require('config').meta.title )
    meta( property="og:title" content=require('config').meta.title )
    meta( name="twitter:title" content=require('config').meta.title )
    meta( property="og:site_name" content=require('config').meta.title )

    title #{ require('config').meta.title }

    style 
      | #{ require('@/css/preload.css').default }
      | #{ require('@/css/prism.css').default }
    
  body
    #app